/* Body */
body{
    padding: 0;
    margin: 0;
}

/* section Header */
header{
    background-image: url('./images/BRT.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 55vh;
}
#overlay{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.503);
    top: -10px;
    padding-top: 4%;
    padding-bottom: 6%;
    height: 35vh;
}
header .nav{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 4%;
}
.menu ul{
    display: flex;
    
}
.menu a{
  
    color: white;
    font-weight: bold;
    padding-right: 60px;
    text-decoration: none;
   
}
.menu li{
    list-style-type: none;  
}
.nav img{
    width: 80px;
}
.argument p{
    text-align: center;
    color: white;
}
h1{
    text-align: center;
    color: white;
    font-weight: bold;
    /* font-family: "Dancing Script", fantasy; */
    text-shadow: 3px 2px 4px #222;
}

/* Main css */
main{
    background-color: #e1e1e1;
}

/* MainContainer */
.mainContainer{
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
.mainContainer .text{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5%;
}
.mainContainer .textImportant{
    font-weight: bold;
}
.mainContainer .cartes{
    display: flex;
    justify-content: space-between;
}
.mainContainer .carte{
    background-color: white;
    width: 280px;
    text-align: center;
}
.mainContainer .carte h2{
    color: #00a486;
}

.mainContainer .carte h2:hover{
    color: white;
}

.mainContainer .carte:hover{
    background-color: #00a486;
    color: white;
    font-weight: bold;
}
/* Description */
#description{
    background-color: white;
    padding-bottom: 8%;
    padding-top: 8%;
}
#description .descriptContainer{
    width: 60%;
    margin: 0 auto;
}
.descriptContainer .text{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
}
.descriptContainer .textImportant{
    font-weight: bold;
}
.descriptContainer .details{
    padding-left: 50px;
}

/* footer */
footer{
    padding-top: 8%;
    background-color: #007bffc5;
}
.footerContainer{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ctFoot{
    width: 23%;
    color: white;
}
.copyright{
    margin-top: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #007BFF;
    color: white;
    text-align: center;
}