body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: verdana;
}

/* Container */
#container{
    width: 60%;
    display: flex;
    margin: 0 auto;
}
.section{
    padding: 2%;
    width: 50%;
}

/* Section1 */
.section1{
    background-image: url(./images/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #007bffda;
    top: -1px;
    left: -1px;
}
.section1 .logo img{
    width: 15%;
    padding: 20px;
}
#ingenieur{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ingenieur img{
    width: 70%;
    height: 300px;
}
.Ing #detail{
    background-color: white;
    padding: 3%;
    width: 70%;
    border-radius: 2%;
    margin: 0 auto;
    margin-bottom: 5%;
    position: relative;
    top: -6px;
}
.dt{
    display: flex;
   margin: 0px;
   font-size: 12px;
}
.td{
    margin-top: -20px;
}


/* Section2 */
.section2{
    background-color: #F4F7FC;
    padding-bottom: 5%;
}
.section2 h3{
    padding-top: 10%;
    color: #007BFF;
    font-weight: bold;
}
.section2 form .inputs{
    padding: 8px;
    border: 2px solid #edefef;
    width: 96%;
}

.verify{
    background-color: white;
    padding: 10px;
    border: 2px solid #edefef;
}
.captcha{
    display: flex;
    justify-content: space-between;
}
.captcha span{
    color: #FABE6C;
    font-weight: bold;
    font-size: 20px;
}
.captcha button{
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    padding: 15px;
    font-size: 10px;
    font-weight: bold;
    width: 100px;
    border: none;
    cursor: pointer;
}
input::placeholder{
    color: #cccdcd;
    font-weight: bold;
}
.captcha a{
    color: #66A7F4;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif !important;
}
.captcha .remember{
   color: #b7b9b9;
   font-weight: bold;
   font-size: 12px;
}
.bouton{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.boutonLogin{
    background-color: #007BFF;
    border: none;
    color: white;
    font-weight: bold;
}
.Or{
    text-align: center;
    color: #007BFF;
    font-weight: bold;
    font-size: 12px;
}
.boutonRegister{
    background-color: white;
    border: 2px solid #007BFF;
    color: #007BFF;
    font-weight: bold;
}
input[type="checkbox"]{
    border: 1px solid transparent;
}

@media screen and (max-width: 1000px){
    body{
        height: 100%;
        padding: 5%;
    }
    #container{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .section{
        width: 95%;
    }
}